@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

<div class="sidebar">
    <NavMenu />
</div>

<div class="container">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCss.SetBootstrapCss("4.3.1");
    }
}