@page "/"
@inject NavigationManager NavigationManager

<div class="top-20">
    <BSImage IsRounded="true" Alignment="Alignment.Center" src="./logo.png" alt="hotoke logo" />
    <div class="input-group">
        <input type="text" @bind="Keyword" class="form-control keyword" placeholder="Enter keyword" @onkeydown="Search">
        <span class="input-group-btn">
            <a class="btn btn-light" href="./@Keyword">Search</a>
        </span>
    </div>
</div>

@code {
    public string Keyword{get;set;}

    public void Search(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(this.Keyword))
        {
            NavigationManager.NavigateTo($"search/{this.Keyword}");
        }
    }
}