<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="http://0.0.0.0:11565"/>
    <add key="genericengines" value="bing,baidu,360"/>
    <add key="factors" value="bing,baidu,360"/>

    <add key="baidu.url" value="http://www.baidu.com/s?wd={keyword}&amp;ie=utf-8&amp;rqlang={lang}" />
    <add key="baidu.nodes" value="//div[@id='content_left']/div[@class='result-op c-container'];//div[@id='content_left']/div[@class='result c-container ']" />
    <add key="baidu.link" value=".//h3/a" />
    <add key="baidu.desc" value=".//div[@class='c-abstract']" />

    <add key="bing.url" value="https://www2.bing.com/search?q={keyword}&amp;ensearch={ensearch}" />
    <add key="bing.nodes" value="//ol[@id='b_results']/li[@class='b_algo']" />
    <add key="bing.link" value=".//h2/a" />
    <add key="bing.desc" value=".//div[@class='b_caption']/p" />

    <add key="360.url" value="https://www.so.com/s?q={keyword}" />
    <add key="360.nodes" value="//ul[@class='result']/li[@class='res-list']" />
    <add key="360.link" value=".//h3/a" />
    <add key="360.desc" value=".//div/div/p;.//p[@class='res-desc']" />

    <add key="httpproxy" value=""/>
    <add key="badurls" value="www.baidu.com/link" />
    <add key="useproxy" value="false"/>
    <add key="ProxyPoolUrl" value="http://148.70.106.82:3289/pop"/>
  </appSettings>
</configuration>