<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="http://0.0.0.0:80"/>
    <add key="baidusearch" value="http://www.baidu.com/s?wd={0}&amp;ie=utf-8&amp;rqlang={1}"/>
    <add key="bingsearch" value="https://cn.bing.com/search?q={0}{1}"/>
    <add key="googlesearch" value="https://www.google.com.hk/search?hl={0}&amp;q={1}"/>
    <add key="sosearch" value="https://www.so.com/s?q={0}"/>
    <add key="httpproxy" value=""/>
    <add key="hotokesearch" value="http://localhost:4685"/>
    <add key="engines" value="bing:1.1,baidu,360:2"/>
    <add key="useimmortaltask" value="true"/>
    <add key="immortaltasklimit" value="2"/>
  </appSettings>
</configuration>