<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Mongo"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="d:\logs\hotoke\${shortdate}.log"
            layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

    <target xsi:type="Console" name="console" layout="${longdate} ${event-properties:item=EventId_Id} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
  
    <target xsi:type="Mongo"
          name="mongo"
          connectionString="mongodb://localhost:27017"
          collectionName="hotoke"
          databaseName="logs"
          cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ThreadName" layout="${threadname}" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${processname:fullName=true}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" writeTo="console" final="true"/>
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="mongo" />
  </rules>
</nlog>