<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IndexHost" value="https://venyo.cn/hotoke-search/index"/>
    <add key="ProxyPoolUrl" value="https://venyo.cn/proxy/pop"/>
    <add key="StackoverflowStart" value="1"/>
    <add key="StackoverflowEnd" value="30000"/>
  </appSettings>
</configuration>