<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IndexHost" value="http://132.232.184.191:4685/index"/>
    <add key="ProxyPoolUrl" value="http://venyo.cn:3289/pop"/>
    <add key="StackoverflowStart" value="1"/>
    <add key="StackoverflowEnd" value="30000"/>
  </appSettings>
</configuration>